<html>
<title>W3.CSS Template</title>
<script type="text/javascript">
    $(document).ready( () => {

        $( "#registration" ).submit( (event) => {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/',
                data: $('#registration').serialize(),
                dataType: "json",
                success: (response) => {
                    //alert("a");
                    //console.log(response.Success);
                    $('#registration')[0].reset();

                    document.getElementById("check").innerHTML=response.Success;
                         //ADD THIS CODE
                         setTimeout( () => {
                             document.getElementById("check").innerHTML="";
                         },3000);
                         if (response.Success=="You are registered,You can login now.") {
                             document.getElementById("aa").click();
                         };
                     },
                     error: () => {
                     }
                 })
        });
    });
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
	body,
	h1 {
		font-family: "Raleway", sans-serif
	}

	body,html {
		height: 100%
	}

	.bgimg {
		background-image: url('hands-against-building.jpg');
		alt: "Hands against building image";
		min-height: 100%;
		background-position: center;
		background-size: cover;
	}
</style>

<body>

	<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
		<div class="w3-display-topleft w3-padding-large w3-xlarge">
			River Bank
		</div>
		<div class="w3-display-middle">
			<h1 class="w3-jumbo w3-animate-top">SMOOTH FLOWING STORAGE</h1>
			<hr class="w3-border-grey" style="margin:auto;width:40%">
			<p>
				</n>
			</p>
			<form action="registration.html">
				<fieldset>
						  <legend>Registration</legend>
						<table>
								<tr>
										<td>Username</td>
										<td><input type="text" id="username"
												name="username"></td>
								</tr>
								<tr>
										<td>Password</td>
										<td><input type="password" id="pass" name="pass"></td>
								</tr>
								<tr>
										<td>Name</td>
										<td><input type="text" id="name" name="name"></td>
								</tr>
								<tr>
										<td>Email</td>
										<td><input type="text" id="email" name="email"></td>
								</tr>
								<tr>
										<td colspan="2" align="center"><input
												type="submit" name="btn_submit"
												value="Register"></td>
								</tr>
						</table>
				</fieldset>
		</form>
		<div style="text-align: center;">?MENU</div>

														<label for="projects">Navigation:</label> <select
																name="Projects" onchange="location = this.value;">
																<option value=" ">Click to view</option>
																<option value="Index.html">Index</option>
																<option value="login.ejs">Login</option>
																<option value="page3.html">page 3</option>
																<option value="page4.html">page 4</option>
														</select>
  </div>
</div>

</body>
</html>
